.isotope
  .filterable
    padding: 0 20px 10px 0
    border-radius: 10px
    display: block
    .content
      border-radius: inherit
      width: 100%
      position: relative
      z-index: 10
      transition: all .3s ease-in-out
      &::before
        border-radius: inherit
        content: ""
        position: absolute
        transition: all .3s ease-in-out
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(to right bottom, #212428, #16181c)
        opacity: 0
        z-index: 1
      .thumbnail
        overflow: hidden
        border-radius: 5px
        .img
          transition: all .3s ease-in-out
          position: relative
          top: 40px
          transform: scale(1.5)
          width: 100%
      &:hover
        .thumbnail
          .img
            transform: scale(2)
        &::before
          opacity: 1


.filters
  .filter
    cursor: pointer