@import "../../colors"

$width: 250px

.sidebar-left
  background-color: $gray
  position: fixed
  top: 0
  bottom: 0
  padding: 5px
  width: $width

.top
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  color: $light-gray
  padding: 30% 0